/* Color pallets */
:root{
    --pb_red: red;
    --pb_green: green;
    --pb_blue: blue;
}
* {
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 10vh 78vh 10vh;
    grid-row-gap: 1vh;
    margin: 0;
}
header{
    background-color: var(--pb_red);
    display: grid;
    grid-template-columns: repeat(12, auto);
    color: blue;
}
header button{
    grid-column: 12/13;
    background-color: transparent;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 40px;
    padding: 0;
    color: blue;
    border: none;
}
.titles{
    display: grid;
    padding-left: 10px;
}
main{
    display: grid;
    grid-template-columns: 25% 63% 10%;
    column-gap: 1%;
}
article{
    background-color: burlywood;
    border-radius: 5px;
    overflow: auto;
}
.output {
    background-color: cornsilk;
    margin: 15px 15px;
    padding: 15px 15px 25px 15px;
}
.writeup{
    padding: 15px;
}
.author{
    color: chartreuse;
    float: right;
}
#edit{
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-size: 12px;
}
#edit:hover,
#edit:focus{
    opacity: 40%;
}
footer{
    background-color: var(--pb_red);
    display: grid;
}
.input {
    position: fixed;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    top: 15%;
    left: 10%;
    display: none;
}
#cls_add {
    float: right;
    cursor: pointer;
}

#devpt-display{
    position: absolute;
    left: 10%;
    top: 60%;
    background-color: chartreuse;
    padding: 5px;
    display: none;
}